Create a comment in the GitHub repository: {{ repository }}, under the pull request with ID {{ target }}, reporting the following: {{ request }}. 
Once you are done with that, send a message to the channel with ID {{ channel }} of {{ server }} server on Discord, reporting what you did, and schedule a event that reminds me to review and merge this pull request on {{ date }} in my calendar.