Create an issue '{{ target }}' in the GitHub repository: {{ repository }}, detailing the following request: {{ request }}. 
Once you are done with that, send a message to the channel with ID {{ channel }} of {{ server }} server on Discord, reporting what you did, and schedule a event that reminds me to fix this issue on {{ date }} in my calendar.