Create a pull request '{{ target }}' in the GitHub repository: {{ repository }}, reporting the following changes: {{ request }}. 
THe pull request must have, as a base branch, {{ base }} and, as a head branch, {{ head }}. 
Once you are done with that, send a message to the channel with ID {{ channel }} of {{ server }} server on Discord, reporting what you did, and schedule a event that reminds me to review and merge this pull request on {{ date }} in my calendar.